# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Ignorer choses inutiles du dossier latex
/latex/*.pdf
/latex/*.fls
/latex/*.fdb_latexmk
/latex/*.aux
/latex/*.log
/bin/*
/tests/*
*.gz
*.ods#
latex/main_test.tex
/doc/*
*.html
*.js
/doc/*.tex
/doc/*.sty
